*{
    border-style: dashed;
    border-color: rgb(99, 164, 99);
    background-color: blanchedalmond;

}



body{
    border-style: dashed;
    border-color: rgb(99, 164, 99);

}

.Hello-wel {
    color:salmon;
    border-color: black;
    border-style: solid;
}

.p1{
    color:blueviolet;
    border-style: solid;
}

.Tech-wel {
    color: rgb(135, 235, 225);
    border-color: black;
    border-style: solid;
}

.p2{
    border-style: solid;

}

.Fash-wel {
    color: yellow;
    border-color: black;
    border-style: solid;
}

.p3{
    border-style: solid;
}


.co{
    background-color: purple;
    color: white;
    border-style: dashed;
    border-color: rgb(99, 164, 99);
    
}